<div class="container">
    <img class="col-1" src="~/images/contato.png" />
    <div class="jumbotron">
        <h3>Queremos ouvir o que você tem a dizer</h3>
        <p>
            Se você tiver alguma dúvida ou sugestão fale conosco
        </p>
        <p>
            <span>
                <img class="col-1" src="~/images/o-email.png"/>
            </span>
            <h5><email endereco="dujinh7@gmail.com" conteudo="Enviar um e-mail"></email></h5>
            <br />
            <span>
                <img class="col-1" src="~/images/celular.png" />
            </span>
            <h5>(11) 9874-5566</h5>
            <br />
            <span>
                <img class="col-1" src="~/images/botao-home.png" />
            </span>
            <h5>Rua José Bonifácio 159 - Pq. Iracema, Catanduva-SP</h5>
        </p>
    </div>
</div>